html {
    scroll-behavior: smooth;
}
body {
    max-width: 90%;
    margin: 0;
    font-family: 'Forum', serif;
    font-size: 1.2em;
    line-height: 1.5;
    background-image: linear-gradient(to bottom, rgb(12, 57, 2), rgb(92, 85, 83));    
    color: white;
}
h1, h2, h3 {
    font-weight: 700;
    color: rgb(255, 166, 65);
} 
header {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
header h1 {
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0 -2px 8px rgb(255, 0, 0);
    color: rgb(255, 166, 65);
    font-size: 2.8rem;
    line-height: 1;
}
a {
    color: rgb(255, 166, 65);
}
a:visited {
    columns: rgb(221, 45, 1);
}
a:hover, a:active {
    columns: #000;
    text-decoration: none;
}
.base-bg {  
    color: rgb(246, 226, 218);
    padding: 1em;
}
.mynd-bg {
    width: 90%;
}
.col-2,
.col-3,
.col-3-myndir {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
}

.upp {
    position: fixed;
    top: 1rem;
    left: 1rem;
    padding: 0 .4rem;
    margin: 0;
}
/****** standard IMG *********/

img {
     max-width: 100%;
     height: auto;
}

figure {
    margin:0;
}
picture img,
.col-3-myndir img {
    display: block;
}

footer {
    color: rgb(255, 166, 65);
    padding: 0;
    margin: 0;
    width: 90%;
}
footer ul{
    list-style: none;
}
a, footer a {
    color: rgb(255, 166, 65);
}
footer a {
    line-height: 1.5;
}
footer a:visited {
    color: rgb(255, 81, 0);
}
footer a:active, .footer a:hover {
    text-decoration: none;
}
blockquote {
    background-color: rgba(0,0,0, 0.5);
    padding:1em;
}
.copy {
    text-align: center;
}
.innermenu {
    width: 100%;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgb(91, 80, 77),rgb(24, 105, 16));
}
.innermenu a:link {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: .4rem;
    border-bottom: 1px solid white;
}
.innermenu a:visited {
    color: blanchedalmond;
}
.innermenu a:hover {
    color: orange;
}
.texti {
    padding: 1rem;
    margin: 1rem;
}
@media screen and (min-width: 23rem) { 
    body {
        max-width: 100%;
    }
    .upp {
        width: 6rem;
        height: 5rem;
    }
}

@media screen and (min-width: 37.5rem) {
    .innermenu {
        position: sticky;
        display: flex;
        flex-direction: row;
        flex-flow: wrap;
        justify-content: space-around;
        z-index: 99;
    }
    .innermenu a:link {
        border: 0;
    }
    .upp {
        width: 1rem;
        height: 1rem;
    }
}
/* ******** 48em ********* */
@media screen and (min-width:48rem) {
   
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1em;
        row-gap: 1em;
    }
    .col-3-myndir {
        grid-template-columns: 1fr 1fr;
        gap: 0;
    }
    header h1 {
        font-size: 4em;
    }
    .upp {
        width: 12rem;
        height: 10rem;
    }
}
@media screen and (min-width:60rem) {
    .col-3 {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2em;
        row-gap: 2em;
    }
    .col-21 {
        grid-template-columns: 2fr 1fr;
        gap:2em
    }
    .upp {
        width: 12rem;
        height: 10rem;
    }
    .col-2 {
        grid-template-columns: 1fr 1fr;
        gap: 2em;
    }
}
@media screen and (min-width:80rem) {
    body {
        font-size: 1.4rem;
    }
    .container {
        max-width: 60em;
        margin: 0 auto;
    }
    header h1 {
        font-size: 6em;
    }
    .col-3-myndir {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0;
        margin-left: 4rem;
    }
    .upp {
        right: 1rem;
    }
}

@media screen and (min-width:100rem) {
    .container {
        max-width: 90rem;
    }
}